/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a common font family for better readability */
body {
  font-family: Arial, sans-serif;
}

/* Style the background and text color for the body */
body {
  background-color: white;
  color: black;
}

/* Style the header */
header {
  color: black;
  text-align: center;
  
}

/* Style the navigation bar */
nav {
  background-color: #f4e5c2;
  margin-top: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  background-color: goldenrod;
  color: black;
  text-decoration: underline;
}

/* Style the "Breakfast" heading */
.breakfastHeader {
  background-color: lightgreen;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  margin-bottom: 10px;
}

/* Style the content in the main section */
main {
  padding: 20px;
}

p {
  font-size: 16px;
  line-height: 1.4;
  margin: 10px 0;
}

/* Style the footer */
footer {
  background-color: #f4e5c2;
  color: black;
  text-align: center;
  padding: 20px 0;
}

/* Add styles for the logo and header text */
.logo img {
  max-width: 200px;
  height: 75px;
  margin-right: 20px;
}

.container div {
  text-align: center;
  
}

.recipe-container {
  display: flex;
  align-items: center; /* Vertically center the content */
}

.recipe-container img {
  margin-right: 20px; /* Add some space between the image and text */
}

.recipe-content {
  flex: 1; /* Take up remaining space */
}

.recipe-description p {
  margin: 10px 0; /* Add margin above and below the paragraphs */
}

.recipe-content h2 {
  margin-bottom: 10px; /* Add margin below the header */
  text-align: center;
}

h3{
  text-align: center;
  text-decoration: underline;
}

.form-container h2 {
  text-align: center;
}

form {
  background-color: gold; /* Gold background for the form */
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
}

.recipe-section {
  text-align: center;
  margin-top: 20px; /* Add space between the "Inspirations/Recipes" and the "Breakfast" header */
}

.recipe {
  display: inline-block;
  text-align: center;
  margin-top: 10px; /* Add space between the image and text */
}

.recipe img {
  display: block;
  margin: 0 auto; /* Center the image */
}

.recipe p {
  margin-top: 10px; /* Add space between the image and text */
}


